.about{
    background: linear-gradient(90deg, #142c38,#868585);
    background-size: 400% 400%;
    animation: anim 10.5s infinite ease-in-out;
}
@keyframes anim {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}